

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1 [ngStyle]="titleStyle">Bienvenue sur {{ title }},
    {{ username }}</h1>
<h1 [ngStyle]="titleStyle">Bienvenue sur <span>{{ title }}</span>,
      {{ pseudo }}</h1>
      <h1 [ngStyle]="titleStyle">Bienvenue sur <span>{{ title2 }}</span>,
        {{ pseudo }}</h1>
      <h1 [ngStyle]="titleStyle">Bienvenue dans la tour des {{ heroes.length }} héros, {{ username }}</h1>
      <h1 [ngStyle]="titleStyle">Bienvenue dans la tour des {{ Mechants.length }} Méchants, {{ username }}</h1>
  <!--<h1 class="titleStyle2">{{ title3 }},
        <span [ngStyle]="titleStyle4">{{pseudo2 }}</span></h1>



  <p>
    <button (click)="addHero()">Ajouter un héros</button>
  </p>

  <p>
    <button (click)="suppHero()">Supprimer un héros</button>
  </p>

  <p>
    <button (click)="effHeros()" >Effacer les héros</button>
  </p>

  <p>
    <label for="InputUsername" >Votre nom : </label>
    <input id="InputUsername" type="text" name="name" [(ngModel)]="username">
  </p>
  <p>
    <label for="InputPseudo" >Votre pseudo :  </label>
    <input id="InputPseudo" type="text" name="pseudo" [(ngModel)]="pseudo" >
    </p>
    <p>
      <label for="InputPseudo2" >Votre surnom : </label>
      <input id="InputPseudo2" type="text" name="pseudo2" [(ngModel)]="pseudo2" >
  </p>-->
  <p>
    <label for="InputUsername" >Votre nom : </label>
    <input id="InputUsername" type="text" name="name" [(ngModel)]="username">
  </p>
  <p>
    <label for="InputPseudo" >Votre pseudo :  </label>
    <input id="InputPseudo" type="text" name="pseudo" [(ngModel)]="pseudo" >
    </p>
  <ul>
    <li *ngFor="let hero of heroes">{{ hero }}</li>
  </ul>
<!--<p>
    <button (click)="addHero()">Ajouter un héros</button>
  </p>   heroToDell-->
  <label for="InputHeroName">Héros à ajouter : <input type="text" name="nameOfTheHero" id
    ="InputHeroName" [(ngModel)]="heroToAdd"></label>
    <button (click)="addHero()">Ajouter un héros</button>
    <ul class="listeDeGentils">
      <li *ngFor="let hero of heroes">{{ hero }} <small *ngIf="hero == username">(c'est moi :))</small></li>
    </ul>
    <label for="InputHeroMechant">Méchant à ajouter : <input type="text" name="nameOfTheMechant" id
      ="InputHeroMechant" [(ngModel)]="mechantToAdd"></label>
      <button (click)="addMechant()">Ajouter un méchant</button>
      <ul class="listeDeMechants">
        <li *ngFor="let mechant of Mechants">{{ mechant }} <small *ngIf="mechant == username">(c'est moi :))</small></li>
      </ul>
      <label for="InputMechantName">Méchant à Supprimer : <input type="text" name="nameOfTheMechant" id
        ="InputMechantName" [(ngModel)]="mechantToDell"></label>
      <button (click)="dellMechant(mechantToDell)">Supprimer le dernier</button>
      <ul>
        <li *ngFor="let hero of heroes">{{ hero }} <small *ngIf="hero == username">(c'est moi :))</small></li>
      </ul>
  <label for="InputHeroName">Héros à Supprimer : <input type="text" name="nameOfTheHero" id
        ="InputHeroName" [(ngModel)]="heroToDell"></label>
      <button (click)="dellHero()">Supprimer le dernier</button>
      <ul>
        <li *ngFor="let hero of heroes">{{ hero }} <small *ngIf="hero == username">(c'est moi :))</small></li>
      </ul>
</body>
</html>
